.cradsGroupSettigs {
    width: 900px;
    overflow-y: auto;
}

.listBorderNone{
    border: none;
}

.delBsgutter{
    --bs-gutter-x:1.0rem;
}
.modalGreen{
    color: green;
}
.modalRed{
    color: red;
}
.modalLastTextSecond{
    width: 70px;
}

.withP{
    width: 165px;
}

.accessOv {
    overflow: auto;
}

.scrollTable {
    overflow-y: auto;
}

.accordion{
    width: 100%;
}
.accordionItem{
    padding: 0;
}

.textAccordionItem{
    margin: 10px 0px 5px 10px;
}

.textPfone{
    font-size: 12px;
}
.tablePfoneName {
    width:80px;
}
.tablePCName {
    width:230px;
}
.tablePfoneFact {
    width:50px;
}
.tablePfoneDate {
    width:80px;
}
.tablePfoneUnits {
    width:60px;
}


.chartSVG {
    height: 30px;
    width: 25px;
}

.chartSVGSettings {
    padding: 3px;
    margin: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 4px outset rgba(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 38px;
    width: 38px;
}
.chartSVGSettingsSet{
    padding: 3px;
    margin: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 4px outset rgb(0, 106, 255,0.6);
    background-color: rgb(0, 106, 255,0.3);
    border-radius: 50%;
    height: 38px;
    width: 38px;
} 
.chartSVGSettings:hover{
    padding: 3px;
    margin: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 4px outset rgb(0, 106, 255,0.3);
    background-color: rgb(0, 106, 255,0.1);
    border-radius: 50%;
    height: 38px;
    width: 38px;
} 

.gearSVG {
    height: 38px;
    width: 30px;
    border-radius: 30px;
    background-color: white;
}

.arrowUp {
    height: 30px;
    width: 25px;
    color: green;
}

.arrowDown {
    height: 30px;
    width: 25px;
    color: red;
}

.arrowHoriz {
    height: 30px;
    width: 25px;
    color: gold;
}

.notification-container {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.settingItem {
    position: absolute;
    border: 15px;
    right: 3px;
}
.notification-container__text_Green {
    position: absolute;
    display: block;
    height: 26px;
    width: 26px;
    color: rgb(0, 0, 0);
    background-color:green;
    border-radius: 22px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}
.notification-container__text_Red {
    position: absolute;
    display: block;
    height: 26px;
    width: 26px;
    color: rgb(0, 0, 0);
    background-color: red;
    border-radius: 22px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}
.notification-container__text_Yellow {
    position: absolute;
    display: block;
    height: 26px;
    width: 26px;
    color: rgb(0, 0, 0);
    background-color: gold;
    border: 20px;
    border-color: aqua;
    border-radius: 22px;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}

