.buttonIntegation{
    width: 200px; 
    height: 50px;
}
.buttonIntegation_P{
    width: 141px;
    height: 63px;
}

.settingForm{
    width:138px;
}
.dis{
    display: none;
}

.cardIntList{
    padding: 0;
}
.scrollTable{
    overflow-y: scroll;
    height:100%;
}
.noBorder {
    border: none;
}

.amo{
    position: relative;
    width: 200px;
}

.groupList {
    text-decoration: none;
    color: black;
}

.BlueBorder {
    border-color: rgb(61, 148, 210) !important;
}

.BlueBack {
    background-color: rgb(61, 148, 210, 0.2) !important;
}

.errorBorder{
    border-color: red;
}

.cardFooterContainer {
    position: relative;
    height: 50px;
}
.cardFooterLeft {
    position: absolute;
    top: 0;
    padding-top: 5px;
    padding-right: 5px;
}
.cardFooter {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 5px;
    padding-right: 5px;
}

.messageBox {
    margin: 0px 0px 0px 0px;
}

.enableContainer {
    position: relative;
    width: 50px;
}

.enableDiv {
    position: absolute;
    top: 0;
    margin-top: 5px;
}
.swith{
    margin: -2px 0 0 0;
}
.swith_P{
    margin: 5px 0px 0px -5px;
}

.messageTop {
    margin: 0px 0px 0px 0px;
}

.messageBot {
    margin: 0px 0px 0px 0px;
}